// [TO BE FIXED?] unnecessary rounded corner on channel bar
#app-mount .container-1r6BKw.themed-ANHk51 {
  border-bottom-right-radius: 0;
}

// [TO BE FIXED?] channel list banner rounded
/*.animatedContainer-1NSq4T {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
*/

// HOT HOT HOT
// hide invite btn channel list
.containerDefault--pIXnN [aria-label*="Invite"] {
  display: none !important;
}

// HOT HOT HOT
// makes search btn hot
.search-36MZv-:not(.open-6_Y_aH) {
  order: -1;
}
.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
  width: 27px;
  transition: 0.25s;
  background-color: transparent;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb {
  width: 240px;
  transition: 0.25s;
}
.theme-dark .toolbar-1t6TWx .icon-3cZ1F_ {
  color: var(--interactive-normal);
}

// HOT HOT HOT
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm::after {
  font-family: unset !important;
  content: "* plonk *-cord";
  top: calc(var(--separation-padding) + 3px);
  left: calc(var(--separation-padding) + 8px);
  background: linear-gradient(90deg, #f42069 10%, #5865f2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100% 100%;
}
#app-mount .titleBar-AC4pGV.typeWindows-1za-n7::after {
  background: unset;
}

// HOT HOT HOT
// let server banners not overflow the channel list
.container-3w7J-x {
  overflow: hidden;
}
// let spotify element not overflow the user card
.panels-j1Uci_ {
  overflow: hidden;
}

// HOT HOT HOT
// let premium guild icon not look like color changes sudden
.guildBadge-3IDi4U,
.premiumGuildIconGem-DAxGL7 {
  transition: color 0.3s ease-in-out;
}
