// Gimme cyoot blob for emote buton
.emojiButton-3uL3Aw .sprite-2iCowe {
  background-image: url("https://i.imgur.com/8azxDEj.png") !important;
  background-size: 22px 22px !important;
  background-position: unset !important;
  filter: unset !important;
}
