// Midnight Mars by LuckFire
@import url("https://luckfire.github.io/midnight-mars/src/support/compiled.css");
// Channel Icons by ControlFreak707
@import url("https://v-briese.github.io/channel-icons/channelicons.theme.css");
// Inter by rsms
@import url("https://rsms.me/inter/inter.css");
