// ( ⋯ Too distracting. is typing… )
.typing-2GQL18 .ellipsis-19qdx6 {
  display: none;
}

// I still have powercord-community/channel-typing though...
.pulsingEllipsisItem-32hhWL {
  animation: none;
  opacity: 1;
}
